body{
    font-family: "Poppins",sans-serif;
    margin: 0;
    padding: 0;
}

.message-nav-bar{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-left: 1.6vw;
    margin-right: 1.6vw;
    align-items: start;
}

.invite-srch-bar{
    width: 30%;
    height: 3.5vh;
    box-shadow: inset 2px 2px 2px rgb(104, 102, 102),
    inset -2px -2px 2px whitesmoke;
    margin-left: 0.5vw;
}

.username-logout{
    grid-column: 1;
    display: flex;
    align-items: center;
    width: 100%;
}

.profiles{
    width: 100%;
    height: 100%;
}

.profile-pics{
    width: 2.5vw;
    height: 2.5vw;
}

.invite-friend{
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3vw;
}

.requests-btn{
    justify-content: left;
    display: grid;
    grid-template-rows: auto 1fr;
    width: 10vw;
}

.invite-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(6, 203, 6);
    border: none;
    background: none;
    font-size: 2.5vh;
}

.invite-btn:active{
    transform: scale(0.9);
}

.request-logout-btn{
    display: flex;
    justify-content: right;
    gap: 2vw;
}

.logout-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    height:4vh;
    color:rgb(6, 203, 6);
    font-family: "Pixel Perfect";
    font-size: 2.5vh;
}

.logout-btn:active{
    transform: scale(0.9);
}