.Request-Div{
    grid-row: 2;
    position: sticky;
    width: 10vw;
    background-color: #353d31;
    border: 1px solid black;
}

.Usernames{
    font:black;
    color: black;
}

.Each-Request{
    display: grid;
    grid-column: 3fr 1fr 1fr;
}

.request-button{
    grid-row: 1;
    display: flex;
    height: 4vh;
}