.Main{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
}
.grid-item{
    border: 1px solid black;
}
.Search-and-Btn-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}
.search{
    margin-top: 1vw;
    padding: 1vw 2vw;
}

.Messaging-div{
    display:grid;
    grid-template-rows: 1fr auto;
}
.messages{
    grid-row: 1;
    overflow-y: scroll;
    height: 72vh;
    border-bottom: 1px solid black;
    display: grid; 
 }
 
.search-txt{
    padding: 1vw 2vw;
}
.send-msg{
    grid-row: 2;
}
#send-btn{
    width: max-content;
}